node_modules
**/node_modules
.yarn
.nx/cache
.nx/workspace-data
.git
.DS_Store
dist
tmp
out-tsc
coverage
test-output
.next
out
apps/*/.expo
apps/mobile/build-*.apk
apps/mobile/android/.gradle
apps/mobile/android/build
apps/mobile/android/app/build
apps/mobile/android/local.properties
apps/mobile/ios/build
*.log
*.pem
*.key
*.cert
fleet-telemetry/certs/
