# Configuration TeslaGuard API
PORT=3000

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TELEGRAM_CHAT_ID=your_telegram_chat_id_here

# Tesla API Configuration
ACCESS_TOKEN=your_tesla_access_token_here
LETS_ENCRYPT_CERTIFICATE=your_base64_encoded_certificate_here

# ZMQ Configuration
ZMQ_ENDPOINT=tcp://10.0.2.12:5284

DEBUG_MESSAGES=true

# Environment
NODE_ENV=development
